html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #041929;
}

#lineDrawing {
  display: none;
}

#title {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 2s;
  -moz-animation-duration: 4s;
  -moz-animation-delay: 2s;
}

#subtitle {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1s;
  color: hsla(360, 100%, 100%, 0);
  display: none;
}
